<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/admin.js"></script>
</head>
<body>
<!--Навигационная панель-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--    Пользователь-->
    <span class="navbar-text">
        <span id="currentUserEmail" class="navbar-text h5 m-0 p-0 text-white font-weight-bold"></span>
        <span class="navbar-text h5 m-0 p-0 text-white">with roles:</span>
        <span id="currentUserRoles" class="navbar-text h5 m-0 p-0 text-white"></span>
    </span>
    <!--    Выход-->
    <a class="nav-link text-white-50 h5 m-0 p-0 ml-auto" href="/logout">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 pr-0 pt-2 nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="btn btn-large text-left btn-primary" aria-selected="true" href="/admin">Admin</a>
            <a class="btn btn-large text-left" href="/user">User</a>
        </div>
        <div class="col-lg-10 bg-light pt-2">
            <h1 class="pb-2">Admin panel</h1>
            <div class="nav nav-tabs">
                <a class="nav-link active" id="tabTable" data-toggle="tab" href="#users">Users table</a>
                <a class="nav-link" data-toggle="tab" href="#new">New User</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active border" id="users">
                    <h5 class="m-3">All users</h5>
                    <div class="container-fluid border bg-white">
                        <table class="mt-3 table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="new">
                    <h5 class="m-3">Add new user</h5>
                    <div class="container-fluid border bg-white">
                        <div class="row justify-content-center">
                            <div class="col-lg-4">
                                <form>
                                    <div class="form-group text-center font-weight-bold">
                                        <div class="mt-3">
                                            <label for="firstName" class="mb-0 pb-0">First Name </label>
                                            <input class="form-control" id="firstName" type="text"/>
                                        </div>
                                        <div class="mt-3">
                                            <label for="lastName" class="mb-0 pb-0">Last name </label>
                                            <input class="form-control" id="lastName" type="text"/>
                                        </div>
                                        <div class="mt-3">
                                            <label for="age" class="mb-0 pb-0">Age </label>
                                            <input class="form-control" id="age" type="text"/>
                                        </div>
                                        <div class="mt-3">
                                            <label for="email" class="mb-0 pb-0">Email </label>
                                            <input class="form-control" id="email" type="text"/>
                                        </div>
                                        <div class="mt-3">
                                            <label for="password" class="mb-0 pb-0">Password </label>
                                            <input class="form-control" id="password" type="text"/>
                                        </div>
                                        <div class="mt-3">
                                            <label for="newRoles" class="mb-0 pb-0">Role</label>
                                            <select multiple class="form-control" id="newRoles">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button id="newUser" type="button" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Удаление пользователя-->
<div class="modal fade" role="dialog" id="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-center font-weight-bold">
                        <div class="mt-3">
                            <label for="deletedId" class="mb-0 pb-0">ID</label>
                            <input type="text" id="deletedId" class="form-control"
                                   readonly>
                        </div>
                        <div class="mt-3">
                            <label for="deletedFirstName" class="mb-0 pb-0">First name</label>
                            <input type="text" id="deletedFirstName"
                                   class="form-control" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="deletedLastName" class="mb-0 pb-0">Last name</label>
                            <input type="text" id="deletedLastName"
                                   class="form-control" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="deletedAge" class="mb-0 pb-0">Age</label>
                            <input type="number" id="deletedAge"
                                   class="form-control" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="deletedEmail" class="mb-0 pb-0">Email</label>
                            <input type="text" id="deletedEmail"
                                   class="form-control" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="deletedRoles" class="mb-0 pb-0">Role</label>
                            <select multiple class="form-control" id="deletedRoles" readonly>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteButton">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Редактирование пользователя-->
<div class="modal fade" role="dialog" id="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-center font-weight-bold">
                        <div class="mt-3">
                            <label for="patchId" class="mb-0 pb-0">ID</label>
                            <input type="text" name="id" id="patchId" class="form-control"
                                   readonly>
                        </div>
                        <div class="mt-3">
                            <label for="patchFirstName" class="mb-0 pb-0">First name</label>
                            <input type="text" name="firstName" id="patchFirstName"
                                   class="form-control">
                        </div>
                        <div class="mt-3">
                            <label for="patchLastName" class="mb-0 pb-0">Last name</label>
                            <input type="text" name="lastName" id="patchLastName"
                                   class="form-control">
                        </div>
                        <div class="mt-3">
                            <label for="patchAge" class="mb-0 pb-0">Age</label>
                            <input type="number" name="age" id="patchAge"
                                   class="form-control">
                        </div>
                        <div class="mt-3">
                            <label for="patchEmail" class="mb-0 pb-0">Email</label>
                            <input type="text" name="email" id="patchEmail"
                                   class="form-control">
                        </div>
                        <div class="form-group text-center font-weight-bold">
                            <label for="patchPassword">Password</label>
                            <input type="password" placeholder="password" name="password" id="patchPassword"
                                   class="form-control">
                        </div>
                        <div class="mt-3">
                            <label for="editRoles">Role</label>
                            <select multiple class="form-control" name="roles" id="editRoles">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="editButton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>